.background {
    background-color: #4B5366;

    & > * {
        color: white;
    }
}

.label {
    line-height: 1;
    font-size: rem(48px);
    font-weight: 400;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    & > span {
        color: #C8CAD3;
        font-weight: 300;
        font-size: rem(16px);
        padding-top: rem(4px);
    }
}